<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance Monitoring System</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap">
  <link rel="stylesheet" href="/static/css/ams_panel.css">
</head>
<body>
  <h1>Attendance Monitoring System</h1>
  <div class="buttons-container">
    <a href="/capture_attendance" id="button1" class="styled-btn">
      <span></span><span></span><span></span><span></span>Capture Attendance
    </a>
    <a href="/dashboard" id="button2" class="styled-btn">
      <span></span><span></span><span></span><span></span>Dashboard
    </a>
    <a href="/" id="button3" class="styled-btn">
      <span></span><span></span><span></span><span></span>Log Out
    </a>
  </div>
</body>
</html>
